.SiteInfoButton-SecurityBadge {
  margin-top: 2px;
}


#browser.color-behind-tabs-on,
#browser~div.color-behind-tabs-on {
  background-color: var(--colorBg) !important;
  background-blend-mode: darken;
}

.button-toolbar .ExtensionDropdownIcon:not(:last-child) {
  margin-right: 21px !important;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
}

.extensionIconPopupMenu .button-popup-wrapper {
  overflow: scroll;
}


.extensionIconPopupMenu ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: var(--colorAccentBg) !important;
  /** background: rgb(23, 23, 23) !important; */
}

.toolbar {
  margin: auto 0;
}

.toolbar-mainbar {
  background-color: transparent !important;
}