:root {
  --WButtonHoverBg: #38444f;
  --GXtransition: 0.2s;
  --GXaccentColor: #ffffff;
  --GXaccentColorLight: hsl(0, 0%, 78%);
  --GXaccentColorLighter: hsl(0, 0%, 81%);
  --GXcolorAccentFgFaded: #dddddd;
  --GXcolorAccentFg: #d3d3d3;
  --GXaccentColorIncognito: #221f29;
  --GXaccentColorIncognitoLight: hsl(258, 17%, 21%);
  --GXaccentColorIncognitoLighter: hsl(258, 14%, 23%);
  --spnr1: #949499;
  --spnr2: #838489;
  --spnr3: #807f85;
  --spnr4: #67666c;
  --spnr5: #54535a;
  --spnr6: #3d3a43;
  --spnr7: #2d2b33;
  --spnr8: #221f28;
  --checkboxAnimation: 0.18s cubic-bezier(0.26, -0.21, 0.79, 1.22);
}

/*------------------ ZZZ mod --------------------------------*/
/*------------------ ZZZ mod --------------------------------*/
/*------------------ ZZZ mod --------------------------------*/
/*------------------ ZZZ mod --------------------------------*/
/*------------------ ZZZ mod --------------------------------*/
/*------------------ ZZZ mod --------------------------------*/


#browser .tab-position .tab.tab-header {
  background-color: var(--colorImageBackgroundAlpha);
  filter: brightness(3) contrast(2) opacity(1.5);
}



/* Adds a "zZz" text over hibernated tabs' icon - $discartedTabsIndicator */
#tabs-container {
  padding-top: 3px !important;
}

#tabs-container .tab.isdiscarded .favicon:before {
  content: "zZz";
  font-size: 10px;
  position: absolute;
  top: 8px;
  left: -1px;
  z-index: 1;
  background-image: linear-gradient(0deg, hsla(263, 62%, 4%, 0.75), hsla(263, 62%, 4%, 0.75));
  width: 18px;
  padding-left: 3px;
  color: #ffffff;
}

#tabs-container .tab.tab-group.isdiscarded .favicon:before {
  font-size: 9px;
  top: 10px;
}

#tabs-container .tab.isdiscarded .favicon,
#tabs-container .tab.isdiscarded:hover .favicon {
  filter: none !important
}

/* * */

.tab-position .tab:not(.active) {
  color: var(--GXcolorAccentFgFaded) !important;
  fill: var(--GXcolorAccentFg) !important;
}

/* This stylezation was made by user "Tam710562" - Block start */

#browser .tab-position .tab .tab-header .favicon img[srcset^="/resources/favicon-"],
#browser .tab-position .tab .tab-header .favicon img[srcset^="/resources/favicon_"] {
  filter: invert(1) opacity(.5) drop-shadow(0px 0px 0px var(--colorAccentBg)) drop-shadow(0px 0px 0px var(--colorAccentBg)) drop-shadow(0px 0px 0px var(--colorAccentBg));
}

/* This stylezation was made by user "Tam710562" - Block end */

div#tabs-container {
  /* background-image: linear-gradient(0deg, #06030d 0%, #090610 48%, #06030d 100%); */
  margin-left: 40px;
  padding-left: 0px !important;
}

.tab-position .tab:not(.active)::before {
  content: " ";
  float: right;
  margin-left: 99.5%;
  position: fixed;
  font-size: 14px;
  margin-top: 8px;
  width: 1px;
  height: 13px;
  background-color: #47454c;
}

.tab-position .tab:not(.active):hover::before {
  background-color: transparent;
}

.tab-strip span:not(:first-of-type) .tab-position .tab.active {
  margin-left: -1px !important;
}

.tab-position .tab.marked:after {
  border: none !important;
  background: var(--colorAccentBgAlpha) !important;
}

.tab-position .tab:not(.active) .tab-indicator.marked {
  border: none !important;
  background: var(--GXcolorAccentFg) !important;
}

.tab-position .tab.active .tab-indicator.marked {
  border: none !important;
  background: var(--colorAccentBg) !important;
}

#browser.private .tab-position .tab.marked {
  background-color: var(--GXaccentColorIncognito) !important;
  border-bottom: 1px solid var(--colorAccentBg) !important;
}

#browser.private .tab-position .tab.marked:after {
  background-color: transparent !important;
}

#browser.private .tab-position .tab.marked.unread:after {
  background-color: hsla(0, 0%, 100%, 0.5) !important;
}

#vivaldi-tooltip .active.tooltip-item .thumbnail-caption {
  background-color: var(--GXaccentColor);
  color: #ffffff !important;
}

#vivaldi-tooltip .tab-solo .active.tooltip-item {
  background-color: var(--GXaccentColor);
}

#vivaldi-tooltip .tooltip-item .thumbnail-caption {
  background-color: var(--colorBg);
  color: var(--GXcolorAccentFgFaded) !important;
}

#vivaldi-tooltip .tooltip-item:hover .thumbnail-caption {
  background-color: var(--GXaccentColor);
  color: #ffffff !important;
}

.active.tooltip-item.active {
  border-bottom: 1px solid var(--colorAccentBg);
}

#vivaldi-tooltip .tooltip .tab-group .tooltip-item.active .thumbnail-text {
  font-weight: 400 !important;
}

#vivaldi-tooltip .tooltip-item .thumbnail-image {
  border-radius: 0px !important;
  border-bottom: none !important;
}

#vivaldi-tooltip .tooltip-item:not(:last-of-type) {
  border-right: 1px solid #47454c !important;
}

#vivaldi-tooltip .tooltip-item .tooltip-audio-button {
  background-color: transparent !important;
}

.tab.tab-group:not(.active) .tab-indicator:not(.active),
.tab.tab-group:not(.active) .tab-indicator:not(.active):hover {
  transition: 0.1s ease;
}