.SiteInfoButton-SecurityBadge {
  margin-top: 2px;
}


#browser.color-behind-tabs-on,
#browser~div.color-behind-tabs-on {
  background-color: var(--colorBg) !important;
  background-blend-mode: darken;
}
