.tabs-top .tab.active:not(.marked):not(.tab-mini):after {
	display: none;
}
.tabs-top .tab.active:not(.marked):not(.tab-mini):before {
	display: none;
}

/* Hide content blocker button */
.button-toolbar button[title^="Content Blocker"] {
	display: none;
}
.tabs-top .tab.active:not(.marked):not(.tab-mini):after {
 	display: none;
}
.toolbar-mainbar {
    color: var(--colorFg);
    background-color: transparent;
}
