/* TOP BUTTONS -------------------------------------------------- */

/* #browser+div,
#browser+div+div,
.window-buttongroup button {
  fill: var(--colorAccentBg) !important;
} */

/* #browser .window-buttongroup button:hover {
  fill: var(--colorAccentBg) !important;
  background-color: var(--WButtonHoverBg) !important;
}

#browser .window-buttongroup button.window-close:hover {
  fill: #ffffff !important;
  background-color: #cf031d !important;
} */

#titlebar .vivaldi svg>path[d="M11 20c3.94 0 6.14 0 7.57-1.43S20 14.94 20 11s0-6.14-1.43-7.57S14.94 2 11 2 4.86 2 3.43 3.43 2 7.06 2 11s0 6.14 1.43 7.57S7.06 20 11 20"] {
  d: path('M10.036,19.044A3.385,3.385,0,0,1,9.476,19a2.821,2.821,0,0,1-2.027-1.479L.469,5.427A3.022,3.022,0,0,1,.3,2.547,2.932,2.932,0,0,1,2.616.98,2.694,2.694,0,0,1,5.367,2.387c.387.641.762,1.291,1.136,1.939l1.035,1.79c.422.733.845,1.467,1.281,2.193a3.051,3.051,0,0,0,3.2,1.57,3.084,3.084,0,0,0,2.737-2.337,2.769,2.769,0,0,0,.131-.9h0a4.28,4.28,0,0,0-.395-1.578,2.949,2.949,0,0,1,.08-2.59,2.925,2.925,0,0,1,2.117-1.461,2.81,2.81,0,0,1,2.522.893,2.832,2.832,0,0,1,.7,2.6,4.636,4.636,0,0,1-.563,1.241L12.68,17.315A3,3,0,0,1,10.036,19.044ZM3.01,1.955a1.989,1.989,0,0,0-.265.018A1.949,1.949,0,0,0,1.191,2.991a2.039,2.039,0,0,0,.145,1.937L8.315,17.017a1.823,1.823,0,0,0,1.325.993,1.962,1.962,0,0,0,2.174-1.194L18.486,5.243a3.856,3.856,0,0,0,.456-.977,1.833,1.833,0,0,0-.465-1.683A1.808,1.808,0,0,0,16.854,2a1.906,1.906,0,0,0-1.4.954,1.931,1.931,0,0,0-.04,1.716,5.242,5.242,0,0,1,.477,1.941h0a3.791,3.791,0,0,1-.176,1.228,4.061,4.061,0,0,1-3.57,3.034A4.025,4.025,0,0,1,7.963,8.824c-.44-.731-.866-1.47-1.292-2.21L5.637,4.826C5.266,4.183,4.894,3.539,4.511,2.9A1.7,1.7,0,0,0,3.01,1.955Z' !important);

}

#titlebar .vivaldi svg>path[d="M16.42 8.64l-4.17 7.23a1.39 1.39 0 0 1-1.15.76 1.33 1.33 0 0 1-1.32-.7c-.88-1.51-1.75-3-2.62-4.54l-1.6-2.77A1.4 1.4 0 0 1 6.7 6.51a1.34 1.34 0 0 1 1.3.72l1.17 2c.28.48.55 1 .84 1.45a2.2 2.2 0 0 0 1.84 1.14 2.24 2.24 0 0 0 2.36-2v-.23a2.34 2.34 0 0 0-.24-1 1.4 1.4 0 1 1 2.62-.87 1.46 1.46 0 0 1-.17.92z"] {
  d: none;
}

#titlebar .vivaldi svg>path[d="M3 5h16v2H3zM3 10h16v2H3zM3 15h16v2H3z"] {
  d: path('M10.036,19.044A3.385,3.385,0,0,1,9.476,19a2.821,2.821,0,0,1-2.027-1.479L.469,5.427A3.022,3.022,0,0,1,.3,2.547,2.932,2.932,0,0,1,2.616.98,2.694,2.694,0,0,1,5.367,2.387c.387.641.762,1.291,1.136,1.939l1.035,1.79c.422.733.845,1.467,1.281,2.193a3.051,3.051,0,0,0,3.2,1.57,3.084,3.084,0,0,0,2.737-2.337,2.769,2.769,0,0,0,.131-.9h0a4.28,4.28,0,0,0-.395-1.578,2.949,2.949,0,0,1,.08-2.59,2.925,2.925,0,0,1,2.117-1.461,2.81,2.81,0,0,1,2.522.893,2.832,2.832,0,0,1,.7,2.6,4.636,4.636,0,0,1-.563,1.241L12.68,17.315A3,3,0,0,1,10.036,19.044ZM3.01,1.955a1.989,1.989,0,0,0-.265.018A1.949,1.949,0,0,0,1.191,2.991a2.039,2.039,0,0,0,.145,1.937L8.315,17.017a1.823,1.823,0,0,0,1.325.993,1.962,1.962,0,0,0,2.174-1.194L18.486,5.243a3.856,3.856,0,0,0,.456-.977,1.833,1.833,0,0,0-.465-1.683A1.808,1.808,0,0,0,16.854,2a1.906,1.906,0,0,0-1.4.954,1.931,1.931,0,0,0-.04,1.716,5.242,5.242,0,0,1,.477,1.941h0a3.791,3.791,0,0,1-.176,1.228,4.061,4.061,0,0,1-3.57,3.034A4.025,4.025,0,0,1,7.963,8.824c-.44-.731-.866-1.47-1.292-2.21L5.637,4.826C5.266,4.183,4.894,3.539,4.511,2.9A1.7,1.7,0,0,0,3.01,1.955Z' !important);
}

#titlebar .vivaldi svg path {
  fill: var(--colorAccentBg);
}

#titlebar button.vivaldi {
  margin-left: 3px;
  margin-top: 3px;
}

.vivaldi span.burger-icon {
  opacity: 1 !important;
}

.vivaldi:hover {
  background-color: var(--WButtonHoverBg) !important;
}

.tab-strip .button-toolbar.newtab button {
  opacity: 1 !important;
}

.color-behind-tabs-off .toolbar-tabbar>.button-toolbar>button {
  color: var(--colorAccentBg) !important;
}

.toggle-trash>button:hover {
  background-color: var(--WButtonHoverBg) !important;
  border-radius: 0px;
}

.newtab button:hover::after {
  content: "";
  border-bottom: 1px solid var(--colorAccentBg);
  width: 30px;
  position: absolute;
  top: 29px;
}

.toggle-trash button path.trashicon-lid {
  d: path("M19.533,11.1H6.467a.5.5,0,0,0,0,1H19.533a.5.5,0,0,0,0-1Z");
}

.toggle-trash button path.trashicon-content {
  d: path("M6.467,8.094H19.533a.5.5,0,0,0,0-1H6.467a.5.5,0,0,0,0,1Z");
}

.toggle-trash button path.trashicon-bin {
  d: path("M15.944,14.687,12.934,17.7l-3.01-3.01a.5.5,0,0,0-.707.707l3.363,3.363a.5.5,0,0,0,.707,0l3.364-3.365a.5.5,0,0,0-.707-.707Z");
}

#tabs-container .toggle-trash button {
  opacity: 1 !important;
}

#header .toggle-trash svg {
  margin: 0px !important;
}

.button-toolbar.toggle-trash>button svg .trashicon-content {
  opacity: 1 !important;
}

.newtab button svg {
  height: 11px !important;
  width: 11px !important;
  flex: none !important;
}

.newtab button svg>path {
  d: path("M26,11.818H14.214a.032.032,0,0,1-.032-.032V0H11.818V11.786a.032.032,0,0,1-.032.032H0v2.364H11.786a.032.032,0,0,1,.032.032V26h2.364V14.214a.032.032,0,0,1,.032-.032H26Z");
}

.newtab>button,
.newtab {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom: 1px solid var(--colorAccentBg);
  z-index: 0 !important;
}

#titlebar .window-buttongroup {
  z-index: 1 !important;
}